.root
  .title
    =image_tag('pepper.png', width: '400px')
    %h1
      Spice it up.
      
#footer
  %h3 
    %a{href:"mailto:bradh@scovilledesign.com", target:"blank"} Scoville Design
    , © 2012-2013